h1{
            color: indianred;
            background-color: aliceblue;
        }
        #fondoVerdeTextoAmarillo {

            color: burlywood;
            background-color: cornflowerblue;
        }

        .bordeRojo{
            border-color: 2px red;

        }