  body { font-family: Arial, sans-serif; margin: 0; }
    header, nav, main, footer {
      border: 2px solid #900;
      padding: 10px;
    }
    header {
      background-color: #6A1B9A;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    header .logo {
      font-size: 24px;
      font-weight: bold;
    }
    nav {
      background-color: #0288D1;
      padding: 5px;
    }
    nav a {
      color: white;
      margin-right: 15px;
      text-decoration: none;
      font-weight: bold;
    }
    main {
      background-color: #FFB300;
      padding: 20px;
    }
    main section {
      margin-bottom: 15px;
      background-color: #FFCC80;
      padding: 10px;
    }
    footer {
      background-color: #558B2F;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    footer a {
      color: white;
      margin: 0 10px;
      text-decoration: none;
    }